<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>Archetype Created Web Application</display-name>
	
<servlet>
		<servlet-name>BaseCtl</servlet-name>
		<display-name>BaseCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.BaseCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WelcomeCtl</servlet-name>
		<display-name>WelcomeCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.WelcomeCtl</servlet-class>
		
	</servlet>
	
	
	
	
	<servlet>
		<servlet-name>LoginCtl</servlet-name>
		<display-name>LoginCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.LoginCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserRegistrationCtl</servlet-name>
		<display-name>UserRegistrationCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.UserRegistrationCtl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ForgetPasswordCtl</servlet-name>
		<display-name>ForgetPasswordCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.ForgetPasswordCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetMarksheetCtl</servlet-name>
		<display-name>GetMarksheetCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.GetMarksheetCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RoleCtl</servlet-name>
		<display-name>RoleCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.RoleCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RoleListCtl</servlet-name>
		<display-name>RoleListCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.RoleListCtl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>StudentListCtl</servlet-name>
		<display-name>StudentListCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.StudentListCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CollegeCtl</servlet-name>
		<display-name>CollegeCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.CollegeCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CollegeListCtl</servlet-name>
		<display-name>CollegeListCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.CollegeListCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyProfileCtl</servlet-name>
		<display-name>MyProfileCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.MyProfileCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangePasswordCtl</servlet-name>
		<display-name>ChangePasswordCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.ChangePasswordCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserCtl</servlet-name>
		<display-name>UserCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.UserCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserListCtl</servlet-name>
		<display-name>UserListCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.UserListCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MarksheetCtl</servlet-name>
		<display-name>MarksheetCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.MarksheetCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MarksheetListCtl</servlet-name>
		<display-name>MarksheetListCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.MarksheetListCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MarksheetMeritListCtl</servlet-name>
		<display-name>MarksheetMeritListCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.MarksheetMeritListCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SubjectCtl</servlet-name>
		<display-name>SubjectCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.SubjectCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SubjectListCtl</servlet-name>
		<display-name>SubjectListCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.SubjectListCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentCtl</servlet-name>
		<display-name>StudentCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.StudentCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TimeTableCtl</servlet-name>
		<display-name>TimeTableCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.TimeTableCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TimeTableListCtl</servlet-name>
		<display-name>TimeTableListCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.TimeTableListCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FacultyCtl</servlet-name>
		<display-name>FacultyCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.FacultyCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FacultyListCtl</servlet-name>
		<display-name>FacultyListCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.FacultyListCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CourceCtl</servlet-name>
		<display-name>CourceCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.CourceCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CourceListCtl</servlet-name>
		<display-name>CourceListCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.CourceListCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ErrorCtl</servlet-name>
		<display-name>ErrorCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.controller.ErrorCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginCtl</servlet-name>
		<url-pattern>/LoginCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserRegistrationCtl</servlet-name>
		<url-pattern>/UserRegistrationCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WelcomeCtl</servlet-name>
		<url-pattern>/WelcomeCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgetPasswordCtl</servlet-name>
		<url-pattern>/ForgetPasswordCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetMarksheetCtl</servlet-name>
		<url-pattern>/ctl/GetMarksheetCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RoleCtl</servlet-name>
		<url-pattern>/ctl/RoleCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RoleListCtl</servlet-name>
		<url-pattern>/ctl/RoleListCtl</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>StudentListCtl</servlet-name>
		<url-pattern>/ctl/StudentListCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CollegeCtl</servlet-name>
		<url-pattern>/ctl/CollegeCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CollegeListCtl</servlet-name>
		<url-pattern>/ctl/CollegeListCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyProfileCtl</servlet-name>
		<url-pattern>/ctl/MyProfileCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePasswordCtl</servlet-name>
		<url-pattern>/ctl/ChangePasswordCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserCtl</servlet-name>
		<url-pattern>/ctl/UserCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserListCtl</servlet-name>
		<url-pattern>/ctl/UserListCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MarksheetCtl</servlet-name>
		<url-pattern>/ctl/MarksheetCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MarksheetListCtl</servlet-name>
		<url-pattern>/ctl/MarksheetListCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MarksheetMeritListCtl</servlet-name>
		<url-pattern>/ctl/MarksheetMeritListCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubjectCtl</servlet-name>
		<url-pattern>/ctl/SubjectCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubjectListCtl</servlet-name>
		<url-pattern>/ctl/SubjectListCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentCtl</servlet-name>
		<url-pattern>/ctl/StudentCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TimeTableCtl</servlet-name>
		<url-pattern>/ctl/TimeTableCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TimeTableListCtl</servlet-name>
		<url-pattern>/ctl/TimeTableListCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacultyCtl</servlet-name>
		<url-pattern>/ctl/FacultyCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacultyListCtl</servlet-name>
		<url-pattern>/ctl/FacultyListCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CourceCtl</servlet-name>
		<url-pattern>/ctl/CourceCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CourceListCtl</servlet-name>
		<url-pattern>/ctl/CourceListCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ErrorCtl</servlet-name>
		<url-pattern>/ErrorCtl</url-pattern>
	</servlet-mapping> 
	<error-page>
	<error-code>404</error-code>
	<location>/jsp/ErrorView.jsp</location>
	
	</error-page>
</web-app>
